<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Beauty Salon</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{~/main}" th:text="#{message.general.home}">
                        <i class="fa fa-home" ></i>Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" href="#" th:text="#{message.registration}" th:href="@{~/registration}"><i
                            class="fa fa-home"></i>Registration</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ADMIN')" href="#" th:text="#{message.input.Admin}" th:href="@{~/admin}"><i
                            class="fa fa-home"></i>Admin</a>
                </li>

            </ul>

            <div class="col-form-label">
                <button class="btn btn-outline-info my-2 my-sm-0 btn-sm"><a href="/admin?lang=ua">UA </a></button>
                <button class="btn btn-outline-info my-2 my-sm-0 btn-sm"><a href="/admin?lang=en">EN</a></button>
                <button sec:authorize="isAnonymous()"
                        class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
                    <a class="col-form-label" href="#" th:text="#{message.login}" th:href="@{~/login}"><i class="fa fa-home"></i>Login</a>
                </button>
            </div>

            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm"
                        type="submit" th:text="#{message.logout}">Logout
                </button>
            </form>

        </div>
    </nav>
</div>



</body>
</html>