<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>General Page</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<h1 th:text="#{message.general}"></h1>

<span th:text="#{lang.change}"></span>:
<button><a href="/main?lang=ua">UA </a></button>
<button><a href="/main?lang=en">EN</a></button>


<p><a href="/login" th:text="#{message.login}"></a> </p>
<p><a href="/registration" th:text="#{message.registration}"></a> </p>
</body>
</html>