<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

<p>
<span th:text="#{lang.change}"></span>:
<button><a href="/main/login?lang=ua">UA </a></button>
<button><a href="/main/login?lang=en">EN</a></button>
</p>

<b><p th:text="#{message.login.page.general}"></b>

<p th:text="#{message.input.email}"></p>
<textarea  rows="1" cols="45" name="Email"></textarea>

<p th:text="#{message.input.password}"></p>
<textarea rows="1" cols="45" name="Password"></textarea>

<p><button th:text="#{message.login.submit}"></button></p>

<p><a href="/main/registration" th:text="#{message.login.registration}"></a> </p>


</body>
</html>